.file {
  position: relative;
  height: 100%;
}

.editor {
  height: calc(100% - 44px - 2rem);
  width: calc(100% - 16px);
}

.fileSkeleton {
  height: calc(100% - 44px);
  width: calc(100% - 16px);
}
