.grid {
  width: calc(100% - 1rem - 2px);
  height: calc(100vh - 2rem);
  display: grid;
  grid-template-columns: 50% 2px 50%;
  gap: 16px;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
  height: calc(100vh - 2rem);
}

.plan {
  height: 50%;
  display: flex;
  flex-direction: column;
}

.structure {
  display: flex;
  flex-direction: column;
  height: 50%;
}
