.wrapPlan {
  position: relative;
  height: calc(100% - 44px);
}

.mark {
  height: 100%;

  pre {
    height: 100%;
    > div {
      height: 100%;
      max-height: 100%;
    }

    section {
      height: calc(100% - 34px) !important;
    }
  }
}
