.chat {
  height: calc(100% - 4rem);

  > div:first-child {
    height: 100%;
    max-height: 100%;
    > div:first-child {
      height: 100%;
      max-height: 100%;
    }
  }
  textarea {
    height: 100% !important;
    overflow-y: scroll !important;
  }
}

.send {
  margin-top: 20px;
  display: flex;
  justify-content: right;
}
